fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
numpy>=1.24,<2.4
paddlepaddle-gpu @ https://paddle-whl.bj.bcebos.com/stable/cu129/paddlepaddle-gpu/paddlepaddle_gpu-3.3.1-cp311-cp311-linux_x86_64.whl
paddleocr[doc-parser]==3.7.0
